header {
    display: flex;
    background-color: rgb(252, 248, 248);
}

.logo {
    height: 8em;
}

.content {
    display: flex;
}

.fishList {
    border: 3px dotted rgb(178, 240, 178);
    background-color: rgb(226, 247, 218);
}

.quotes {
    border: 3px dotted rgb(240, 215, 153);
    background-color: rgb(252, 253, 209);
}

.locations {
    border: 3px dotted rgb(238, 185, 185);
    background-color: rgb(245, 226, 229);
}

.tankTips {
    border: 3px dotted rgb(163, 200, 238);
    background-color: rgb(209, 233, 248);
}

.container {
    border: 1px solid rgb(198, 156, 238);
}

.container--left {
    flex: 3;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.container--right {
    flex: 1
}

.fish__image {
    height: 8em;
}

.location__image {
    height: 8em;
}

.container--left article {
    margin-bottom: 25px;
}

body {
    background-color: rgb(252, 248, 248);
}